.text h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
    text-align: center;
    color: #355592;
    padding-top: 50px;
    padding: 10px;
  }
  
  .text p {
    text-align: center;
    color: #333333;
    padding: 10px;
  }
  
  #trainers .container {
    flex-direction: column;
    padding: 20px 160px;
    background-color: rgb(237, 243, 250);
    height: 80vh;
  }
  
  #trainers .images {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 30px;
    gap: 140px;
  }
  
  .img-container {
    position: relative;
    display: inline-block;
  
    /* Hover olduğunda çizgilerin tam çerçeve oluşturması */
    &:hover {
      .outer-frame {
        &::after {
          width: 80%;
          left: 24px;
          right: 24px;
        }
      }
      .outer-frame .side.left {
        height: 50%;
        bottom: 16px;
      }
      .outer-frame .side.right {
        height: 50%;
        bottom: 16px;
      }
      .img-content {
        bottom: 16px;
        opacity: 1;
      }
    }
  }
  
  .img-container img {
    width: 300px;
    height: 350px;
    border: 2px solid #f39f15;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }
  
  .outer-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 350px;
    border: none;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #355592;
      transition: all 0.5s ease;
    }
  }
  
  /* Üst çizgi */
  .outer-frame::before {
    width: 80px;
    height: 8px;
    top: -8px;
    left: calc(50% - 40px);
  }
  
  /* Alt çizgi*/
  .outer-frame::after {
    width: 80px;
    height: 8px;
    bottom: -8px;
    left: calc(50% - 40px);
  }
  
  /*sol ve sağ çizgiler için side ile konum ve renk tanımlaması*/
  .outer-frame .side {
    position: absolute;
    background-color: #355592;
    transition: all 0.5s ease;
  }
  
  /* Sol ve sağ çizgi */
  .outer-frame .side.left {
    width: 8px;
    height: 120px;
    left: -8px;
    top: calc(50% - 60px);
  }
  
  .outer-frame .side.right {
    width: 8px;
    height: 120px;
    right: -8px;
    top: calc(50% - 60px);
  }
  
  .img-content {
    color: #e5e7eb;
    position: absolute;
    left: 16px;
    width: 268px;
    bottom: 0;
    padding: 24px 8px;
    text-align: center;
    background-color: #355592;
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
    opacity: 0;
    transition: all 250ms linear;
  }
  
  .img-content p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 8px;
  }
  
  /* --- RESPONSIVE TASARIM --- */
  
  /* Küçük Ekranlar (576px ve altı) */
  @media (max-width: 576px) {
    .images {
      flex-direction: column;
    }
    #trainers .container {
      height: 1800px;
    }
  }